Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Binaries/
Intermediate/
.vs/
Saved/

# Misc files
.ignore
*.code-workspace
Makefile
start.sh
Build/*
Content/__ExternalActors__/*
Content/__ExternalObjects__/*
/Plugins/flat-nodes/*
